.wraper{
    color: white;
    text-align: center;
    font-size: 30px;
    /* background: rgba(138, 105, 8, 0.411); */
    width: 65%;
    margin-left: 225px;
    height: 50px;
    padding-top: 6px;
}

h3{
    /* background: rgba(138, 105, 8, 0.411); */
}

.navbar{
    padding-top: 0px;
    padding-bottom: 0px;
    height: 50px;
    color: black;
}

.nav-link{
    color: black !important;
}

.footer1{
    clear: both;
    width: 100%;
    background-color: black;
    margin-top: 750px;
    color: white;
    padding-bottom: 38px;
    text-align: center
}

.twitter-share-button{
    margin-left: 600px;
    margin-bottom: 40px;
}

.fb-share-button{
    margin-bottom: 40px;
}

#hotfix{
    color: black !important;
}

#questionDiv{
    color: white;
    text-align: center;
    font-size: 30px;
    /* background: rgba(138, 105, 8, 0.411); */
    width: 100%;
    font-weight: bold;
}

